.weather{
    background-color: black;
    height: 20cm;
     
}
.weather h1{
    background-color: "lightblue";
    font-size: 2.5cm;
    text-shadow: 3px 3px darkcyan
}

.input{
    border: none;
    border-bottom: 2px solid darkcyan;
    width: 15cm;
    margin-top: 2cm;
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: .6cm;
    text-align: center;
    outline: none
    }

.hdn{
    color: white;
    font-size: 2cm;
    font-family: "cursive";
    margin-top: 1cm
}

.span{
    color: white;
    font-size: 1cm;

}